body {padding-top : 80px;}
nav{width:100%;}
.topmenu {position:fixed; top: 0px;}
.sidemenu {width:30%; float:left;}
footer {clear:both;}

section{padding-left: 20%;}
.button {
display: inline-block;
width:18%;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
float:left;
margin-right: 5px;

box-shadow: 2px 2px 3px 1px #666; 
    -moz-box-shadow: 2px 2px 3px px #666; 
    -webkit-box-shadow: 2px 2px 3px 1px #666; 

}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.button {
	background-color: #dc0000 ;
	color: #fff;
}
.button:hover {
	background-color: #ff0f0f ;
<<<<<<< HEAD
}

body {
	padding-top : 80px;
	margin-right: auto;
	margin-left : auto;
}
section{padding-left:20%;}
footer {clear:both;}
=======
}
>>>>>>> ac27a872917c27594cb3765659e8c85369d39801
