body {
	padding-top : 80px;
	margin-right: auto;
	margin-left : auto;
	font-family:"HG正楷書体-PRO";
}
body.index {
	padding-top : 0px;
	margin : 0 auto;
}
section{
	font-size:19px;
	
}
section.telphone {
	margin-right: 0px;
	margin-top: 20px;
	float:right;
	font-size:22px;
}
section.motto {
	margin: 10px 30px;
	font-size:25px;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
img.zisseki {
	width: 185px;
	height: 185px;
	margin: 5px;
}
img.back {
	width: 70px;
	height: 70px;
	margin: 30px 0px;
}
nav{width:100%;}
.rogo{
	width:50%;
	float:left;
}
nav.footer_menu {
	
}
nav ul {
list-style-type: none;
padding-left: 0;
}
nav ul li {
display: inline;
width: 100%;
margin-right:10px
}
.topmenu {position:fixed; top:0px;}
.topmenu_block {
text-align: center;
margin: 0 auto;
float: left;
font-size:25px;
}
.topmenu_index {
	float:left;
	margin: 0 auto;
}
.pic{width:45%}

footer{
	width:100%;
	color:#fff;
	background-color: #999999 ;
	clear:both;
}

/****************ボタン関係*************/
.button {
display: inline-block;
width:195px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
float:left;
margin-right: 5px;
margin-bottom: 10px;
box-shadow: 2px 2px 3px 1px #666; 
    -moz-box-shadow: 2px 2px 3px px #666; 
    -webkit-box-shadow: 2px 2px 3px 1px #666; 
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.button {
	background-color: #dc0000 ;
	color: #fff;
}
.button:hover {
	background-color: #ff0f0f ;
}

/*****************フッターメニュー**************/
.f_button {
	display: inline-block;
	width: 198px;
	height: 54px;
	margin: 0px 1px 10px 1px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
	float:left;
	background-color: #999999;
	color: #fff;
}
.f_button::before,
.f_button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.f_button,
.f_button::before,
.f_button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.f_button:hover {
	background-color: #ff0f0f ;
}
