body {
	padding-top : 80px;
	margin-right: auto;
	margin-left : auto;
	font-family:'ヒラギノ角ゴシック','HG正楷書体-PRO';
	font-size:19px;
}
body.index {
	padding-top : 0px;
	margin : 0 auto;
}
.telmoji{float:right;}
section.telphone {
	margin-right: 0px;
	margin-top: 20px;
	float:right;
	font-size:22px;
}
.naiyo{
	padding-top:80px;
}
section.motto {
	margin: 150px 30px 0 0;
	font-size:25px;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
img.zisseki {
	width: 185px;
	height: 185px;
	margin: 5px;
}
img.back {
	width: 70px;
	height: 70px;
	margin: 30px 0px;
}
.otoiawase_naiyo {
	width: 100%
	padding-left: 50px;
}
.otoiawase_box {
	width: 600px;
	height: 50px;
	margin: 10px 0px;
	padding: 4px 6px;
	font-size: 19px;
}
h1{font-size:20px;}
h2{
/*見出し例１*/
/*  border-right:10px solid #ff0f0f; 
    border-left:10px solid #ff0f0f; 
    padding: 5px 5px 5px 15px; 
    background: #999; 
    border-radius: 7px; 
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    font-size:140%; 
    color:#fff; /*

/*見出し例2*/
/*    border-top:2px solid #dc0000;
    border-right:2px solid #dc0000;
    border-bottom:2px solid #dc0000; 
    border-left:10px solid #dc0000; 
    padding: 5px 5px 5px 15px; 
    background: #fff; 
    font-size:140%; 
    color:#000; */

/*見出し例3*/
/*    border-bottom:2px solid #dc0000; */
    border-left:10px solid #dc0000; 
    padding: 5px 5px 5px 15px; 
    background: #ddd;  
    color:#000;  

/*基本色　　ボタン１#dc0000　ボタン２#ff0f0f　フッター#999*/
}
nav{width:100%;}
.rogo{
	width:50%;
	float:left;
}
nav ul {
list-style-type: none;
padding: 0;
}
nav ul li {
display: inline;
width: 100%;
}
.topmenu {position:fixed; top:0px;}
.topmenu_block {
text-align: center;
margin: 0 auto;
float: left;
font-size:25px;
position:absolute;
}
.topmenu_index {
	float:left;
	margin: 0 auto;
}
.pic{width:45%}

footer{
	width:100%;
	color:#fff;
	background-color: #999999;
	clear:both;
}
.copyright {
	padding: 0px 0px 20px 20px;
}

/****************ボタン関係*************/
.button {
display: inline-block;
width:195px;
height: 54px;
margin-right: 10px;
margin-bottom: 10px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
float:left;
box-shadow: 2px 2px 3px 1px #666; 
    -moz-box-shadow: 2px 2px 3px px #666; 
    -webkit-box-shadow: 2px 2px 3px 1px #666; 
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.button {
	background-color: #dc0000 ;
	color: #fff;
}
.button:hover {
	background-color: #ff0f0f ;
}

/*****************フッターメニュー**************/
.f_button {
	display: inline-block;
	width: 194px;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
	background-color: #999999;
	color: #fff;
}
.f_button::before,
.f_button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.f_button,
.f_button::before,
.f_button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.f_button:hover {
	background-color: #ff0f0f ;
}
footer a:last-child {
	margin-right: 1px;
}
/****************カルーセル*************/
.article_slide {
  width: 100%;
  height: 400px;
}
.slick-prev {
  position: relative;
  left: 20px !important;
  z-index: 999999;
}
.slick-next {
  position: relative;
  right: 20px !important;
  z-index: 999999;
}
